/*---general---*/

#menu-gral{
    background-color: #618685;
}
footer{
    background-color: #618685;
}
footer p{
    color: whitesmoke;
}

/*---index---*/

#header-ppal{
    background-color: #80ced6;
    padding-bottom: 20px;
}
#previews{
    padding: 20px;
}
#cont-previews{
    background-color: #d5f4e6;
}

/*---pag daniel---*/

#contenedor-ppal{
    text-align: center;
    background-color: #80ced6;
    margin-bottom: 0;
}
#contenedor-ppal h1, h2, h3, p{
    color: #618685;
}
#info-personal{
    background-color: #d5f4e6;
}
#foto-perfil{
    margin: 0px;
    padding: 0px;
    max-width: 49%;
    max-height: 300px;
}
#cont-texto{
    background-color: #fefbd8;
    text-align: justify;
    border-top: 10px;
    padding: 20px;
}
.espacio{
    height: 20px;
}
#ref{
    font-size: 20px;
}

/*---pag carlos---*/
#carlosh2{
    color:#d5f4e6; 
}

#htmlcarlos{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }  

#cuerpocarlos{
    background-color: #d5f4e6;
  }
  
#cabeceracarlos {
  background-color: #618685;
  color: #fefbd8;
  padding: 6%;
  text-align: center;
  font-family: verdana; 
  font-size: 3%;
  margin-top: 3%; 
}

#menucarlos{
  list-style-type: none;
  margin: 2%;
  padding: 5%;
  background: #fefbd8;
  border: 1px solid #80ced6; 
  font-size: 2vw;
  color: #d5f4e6;
}

#contenedor1carlos{
  background-color: #fefbd8;
  text-align: center;
  padding: 10px;
  font-size: 100%;  
  border: 2px solid #80ced6;
  color: #618685 ;
  margin: auto;
}

#contenedor2carlos{
    background-color: #fefbd8;
    text-align: center;
    padding: 10px;
    font-size: 100%;  
    border: 2px solid #80ced6;
    color: #618685 ;
    margin: auto;
  }

#contenedor3carlos{
    background-color: #fefbd8;
    text-align: center;
    padding: 10px;
    font-size: 100%;  
    border: 2px solid #80ced6;
    color: #618685 ;
    margin: auto;
  }

#contenedor4carlos{
    background-color: #fefbd8;
    text-align: center;
    padding: 10px;
    font-size: 100%;  
    border: 2px solid #80ced6;
    color: #618685 ;
    margin: auto;
  }

#piepaginacarlos{
    color: #80ced6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    border: 4px solid #80ced6; 
    text-align: center;
    background-color: #fefbd8;
    padding: 10px;
    margin-top: 3%;
}

/*---pag sebastian---*/
/* Descripción de Solución Veterinaria*/
#descripcion-vet {
    color:#094568;
    background:#fefbd8;
    font-family: "Lucida Sans", sans-serif;
    background: #d5f4e6
}
/* Logo de Solución Veterinaria*/
#img-vet {
    max-width: 45%;
    height: auto;
    border-style: outset;
}
/* Título de Solución Veterinaria*/
#vet-title {
    font-family: Tahoma;
    text-shadow: 1px 1px;
    color:#094568;
}

/* Nombre y correo del Autor */
#autor-vet {
    font-family: "Roboto";
    font-size: 1.2em;
    color:#094568;
}

/* Contacto Solución Veterinaria*/
#contacto-vet {
    padding: 10px;
}

/*---pag andres---*/

#cero{
    background-color: #fefbd8;
}

#primera{

    color:  #d5f4e6;
    background-color:#80ced6 ;
    font-family: initial;
}
#segunda{
    font-size: 20px;
    color: #80ced6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    display: block;
}
#perfil{
    margin: 0px;
    padding: 0px;
    max-width: 49%;
    max-height: 300px;
    margin-bottom: 10px;
}

#tercera{

    color: #80ced6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding: 20px;
    text-align: justify;

}
#cuarta {

    color: #80ced6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding: 20px;
    text-align: justify;
}
#quinta {

    color: #80ced6;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding: 20px;
    text-align: justify;
}